.div{
    /* background-color: tomato; */
    padding-left: 10px;
    padding-bottom: 100px;
    margin-bottom: 10px;
    border: 10px solid black;
    border-radius: 10px;
    background-image: url(../images/cover\ photo.avif);
    background-size: cover;
    background-repeat: no-repeat;
    
}



