.div{
    /* background-color: tomato; */
    padding-left: 10px;
    padding-bottom: 100px;
    margin-bottom: 10px;
    border: 10px solid black;
    border-radius: 10px;
    background-image: url(../images/cover\ photo.avif);
    background-size: cover;
    background-repeat: no-repeat;
    
}

footer{
    color:brown;
    text-align: center;
    text-decoration: underline;
    font-weight: 800;
    
}

button{
    color: tomato;
    font-weight: 500;
    background-color: black;
    border: 2px solid white;
    border-radius: 4px;
}

h3{
    color: tomato;
    
}

